
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-shape-divider-top-1677866635 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-top-1677866635 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 146px;
    }
    
    .custom-shape-divider-top-1677866635 .shape-fill {
        fill: #74ACF7;
    }


  }

