
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* Hero Wave Divider */
    .custom-shape-divider-bottom-1677869480 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1677869480 svg {
        position: relative;
        display: block;
        width: calc(110% + 1.3px);
        height: 140px;
    }
    
    .custom-shape-divider-bottom-1677869480 .shape-fill {
        fill: #4B1FCD;
    }

    /* Hero Animations */
    @keyframes slide-up1 {
        from {
            transform: translateY(-100px);
        }
        to {
            transform: translateY(0px);
        }
        
    }
    @keyframes slide-up2 {
        from {
            transform: translateY(500px);
        }
        to {
            transform: translateY(0px);
        }
        
    }

    .slide-up1 {
        animation: slide-up1 1s ease-out;
    }
    .slide-up2 {
        animation: slide-up2 2s ease-out;
    }

    /* Lore divider */
    .custom-shape-divider-top-1677879891 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1677879891 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 81px;
    }
    
    .custom-shape-divider-top-1677879891 .shape-fill {
        fill: #4B1FCD;
    }

    /* Mobile Menu Animations */

    @keyframes slide-in {
        from {
            transform: translateX(300px);
        }
        to {
            transform: translateX(0px);
        }
        
    }

    .slide-in {
        animation: slide-in 0.25s ease-out;
    }

    
    @keyframes slide-out {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(1000px);
        }
        
    }

    .slide-out {
        animation: slide-out 0.25s ease-out;
        animation-fill-mode: forwards;
    }
    

  }

